html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body * {
    box-sizing: border-box; 
}

#napApp {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #023E8A; 
    color: #CAF0F8;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px; 
    box-sizing: border-box; 
}

h1 {
    font-size: 2em; 
    position: absolute; 
    top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}


#installPrompt, #mobileOnly {
    display: none; 
    padding: 20px;
    margin: 15px;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    text-align: center;
    background-color: white;
}

#installPrompt, #mobileOnly {
    position: fixed;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
    width: 75%; 
    max-width: 400px;
    z-index: 10; 
    background: #fff; 
    padding: 20px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}
